*
{
	font-family: 'Arvo', serif;
	font-weight : bold;
	color: white;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

#wrap 
{
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}

body
{
	display: none;
	background : url("../images/New-Background.png");
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
}


.row {
    margin-left: 0;
    margin-right: 0;
}


#logo
{
	margin-top: 1em;
	margin-left: 1em;
	max-width: 10em;
}

#nav-bar
{
	margin-top: 1em;
	margin-left: 8em;

}

.nav-image
{
	width: 5em;
	border: 0;
}

.description
{
	text-align: center;
}

.list
{
}

a
{
	text-decoration: none;
}

a img
{
	border: 0 none; 
}

#footer > .container
{
	margin-top: 1em;
	margin-left: 2em;
	margin-bottom: 1em;
}

.social-image
{
	width : 35px;
}

#twit
{
	margin-left: 0.4em;
}

/*styling for page transition animation */

.fade {
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.fade.ng-enter {
	transition: all 1.5s ease;
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    transition: all 0.1s ease;	
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}

/*styling for homepage*/

#homepage-logo
{
	margin-top: 8em;
	width:62%;
	text-align: center;
	margin-bottom: 2em;
}

#news-container
{
	width : 10em;
	margin-top: 2em;
	margin-left: 10em;
	background-color: white;
	color: black;
}

#news-heading
{
	width: 10em;
	background-color: #BCDDEF;
}

/*styling for gallery page */

#gallery-box
{
	position: absolute;
	left: 0px;
	width: 100% !important;
	margin-top: 2em;
}


/* styling for events page */

.event-box
{
	margin-top: 4em;
}

.event-brief
{
	margin-top: 20em;
}

#last
{
	margin-bottom: 5em;
}

/*styling for sponsors page */

.sponsor-logo
{
	max-width: 14em;
}

/*styling for contact page */

.people
{
	margin-top: 4em;
}

.img-circle
{
	max-width: 14em;
	text-align: center;
	display: block;
}

.people-box
{
	margin-top: 4em;
}

.people-description
{
	text-align: center;
}