*
{
	margin: 0 auto;
	font-family: 'Arvo', serif;
	font-weight : bold;
}

body
{
/*//	background-image: url("../images/fest8.jpg");
	background-repeat: no-repeat;
	background-position: -10px;
*/
	background-color: #D5D5D5;
}

.row {
    margin-left: 0;
    margin-right: 0;
}


#logo
{
	margin-top: 1em;
	margin-left: 1em;
	max-width: 10em;
}

#nav-bar
{
	margin-top: 1em;
	margin-left: 5em;
}

.description
{
	margin-left: 1em;
	text-align: center;
//	font-family: 'Arvo', serif;
//	font-weight : bold;
}

.list: 
{
	margin-left: 10em;
}

a
{
	text-decoration: none;
}

a img
{
	border: 0 none; 
}

#social-home
{
	margin-left: 1.5em;
	margin-top: 10em;
	margin-bottom: 2em;
}

#fb
{
	margin-left: 1em;
}

#twit
{
	margin-left: 0.4em;
}

.fade {
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.fade.ng-enter {
	transition: all 1.5s ease;
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    transition: all 0.1s ease;	
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}

/*styling for homepage*/

#homepage-logo
{
	margin-top: 5em;
	width:70%;
	text-align: center;
}

#heading
{
	color : #3e3f3a;
//	font-family: 'Arvo', serif;
	font-weight : bold;
}

/* styling for events page */

.event-box
{
	margin-top: 4em;
}

.event-brief
{
	margin-top: 20em;
}

/*styling for sponsors page */

.sponsor-logo
{
	max-width: 14em;
}

/*styling for contact page */

.people
{
	margin-top: 6em;
}

.img-circle
{
	max-width: 14em;
}