<div data-scroll-reveal-container>

	<div id = "heading"> 
		<center> <h3><strong>Core Team Members</strong></center> </h3> 
	</div>

	<div class = "row people">
		<div class = "col-lg-offset-2 col-lg-2 col-md-offset-2 col-md-2 col-md-2 col-sm-offset-1 col-sm-11 col-xs-offset-1 col-xs-11 people-box">
			<img src="images/people/Tushar.jpg" class = "img-circle">
			<div class = "people-description">
				Tushar Verma, Head Coordinator<br>
				tusharv@iitrpr.ac.in
				9855006124
			</div>
		</div>

		<div class = "col-lg-offset-3 col-lg-2 col-md-offset-3 col-md-2 col-md-2 col-sm-offset-1 col-sm-11 col-xs-offset-1 col-xs-11 people-box">
			<img src="images/people/Atri.jpg" class = "img-circle">
			<div class = "people-description">
				Atri Gulati, Marketing Coordinator<br>
				atrig@iitrpr.ac.in
				+919999040395<br>+919855335838
			</div>
		</div>

	</div>

	<div class = "row people">
		<div class = "col-lg-offset-2 col-lg-2 col-md-offset-2 col-md-2 col-sm-offset-1 col-sm-11 col-xs-offset-1 col-xs-11 people-box">
			<img src="images/people/Vishal.jpg" class = "img-circle">
			<div class = "people-description">
				Vishal, Core team member<br>
				vishalgoyal@iitrpr.ac.in
				+919463122161
			</div>
		</div>	
	</div>

</div>