<div data-scroll-reveal-container>
<!-- 	<center>
		<img src = "images/people/all.png" id = "people-images"/>
	</center>
 -->

		<ul class = "row people">
			<li class = "people-box">
				<img src="images/people/Tushar.jpg" class = "img-circle">
				<div class = "people-description">
					<span class = "people-name">Tushar Verma</span> <br>Head Coordinator<br>
					tusharv@iitrpr.ac.in<br>
					9855006124
				</div>
			</li>

			<li class = "people-box">
				<img src="images/people/Amit.jpg" class = "img-circle">
				<div class = "people-description">
					<span class = "people-name">Amit Goyal </span><br> Marketing Coordinator<br>
					amitgoyal@iitrpr.ac.in<br>
					+919582478562<br>+918288909906
				</div>
			</li>

			<li class = "people-box">
				<img src="images/people/Vishal.jpg" class = "img-circle">
				<div class = "people-description">
					<span class = "people-name">Vishal Goyal </span><br> Core team member<br>
					vishalgoyal@iitrpr.ac.in<br>
					+919463122161
				</div>
			</li>	
			<li class = "people-box">
				<img src="images/people/Paul.jpg" class = "img-circle">
				<div class = "people-description">
					<span class = "people-name">Sauradeep Paul </span><br> Creativity Coordinator<br>
					sauradeeppaul@iitrpr.ac.in<br>
					+919463122161
				</div>
			</li>	
		</ul>
</div>

<style>
	.people
	{
		margin-top: 2em;
		width: 100%;
	}

	.img-circle
	{
		max-width: 14em;
		text-align: center;
	}

	.people-box
	{
		margin-top: 4em;
		margin-left: 4em;
	}

	.people-name
	{
		font-size: 18px;
	}
	
	.people-description
	{
		background: rgba(0,0,0,0.3);
		/*for IE*/
		-pie-background:  rgba(200, 54, 54, 0.5);
	    behavior: url(PIE.htc);	
	}

</style>