<div id = "heading"> <center> <h3><strong>Core Team Members</strong></center> </h3> </div>

<div class = "row people">
	<div class = "col-lg-offset-3 col-lg-2 col-md-offset-3 col-md-2 people-box" data-scroll-reveal="enter top and move 50px over 1.5s">
		<img src="images/people/Ali.jpg" class = "img-circle">
		<span class = "description">
			Uzhair Ali, General Secretary
			blahblah@iitrpr.ac.in
		</span>
	</div>
	<div class = "col-lg-offset-2 col-lg-2 col-md-offset-2 col-md-2 people-box" data-scroll-reveal="wait 1.5s, enter top, move 50px, over 1.5s">
		<img src="images/people/Tushar.jpg" class = "img-circle">
		<span class = "description">
			Tushar Verma, Cultural Secretary
			blahblah@iitrpr.ac.in
		</span>
	</div>	
</div>

<div class = "row people">
	<div class = "col-lg-offset-3 col-lg-2 col-md-offset-3 col-md-2 people-box" data-scroll-reveal="enter top, move 50px, over 1.5s">
		<img src="images/people/Ali.jpg" class = "img-circle">
		<span class = "description">
			Uzhair Ali, General Secretary
			blahblah@iitrpr.ac.in
		</span>
	</div>
	<div class = "col-lg-offset-2 col-lg-2 col-md-offset-2 col-md-2 people-box" data-scroll-reveal="wait 1.5s, enter top, move 50px, over 1.5s">
		<img src="images/people/Tushar.jpg" class = "img-circle">
		<span class = "description">
			Tushar Verma, Cultural Secretary
			blahblah@iitrpr.ac.in
		</span>
	</div>	
</div>