<!-- make sure to put margin for the last row -->

<center>
<h2> Coming Soon </h2></center>

<!-- <div class = "row">
	<div class = "col-lg-offset-2 col-lg-4 event-box">
		<img src = "images/events/event1.png">
		<center><span class = "event-brief">Event 1</span></center>
	</div>
	<div class = "col-lg-offset-1 col-lg-4 event-box">
		<img src = "images/events/event2.png">
		<center><span class = "event-brief">Event 2</span></center>
	</div>
	<div class = "col-lg-offset-2 col-lg-4 event-box">
		<img src = "images/events/event3.png">
		<center><span class = "event-brief">Event 3</span></center>
	</div>
	<div class = "col-lg-offset-1 col-lg-4 event-box" id = "last">
		<img src = "images/events/event2.png">
		<center><span class = "event-brief">Event 2</span></center>
	</div>

</div> -->