
    <section class="section-photos" id = "gallery-box">
      <div class="photos">
        <div class="row-container">
          <div class="row row-one">
            <img src="images/gallery/zeitgeist-yogesh-11.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-22.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-26.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-48.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-63.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-82.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-105.jpg" alt="">
          </div>
        </div>


        <div class="row-container">
          <div class="row row-two">
            <img src="images/gallery/zeitgeist-yogesh-26.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-26.jpg" alt=""> 
            <img src="images/gallery/zeitgeist-yogesh-26.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-26.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-.jpg" alt="">
          </div>

        </div>
      </div>
    </section>