<center><h1>Our past sponsors</h1></center>
<div class = "container" id = "sponsor-container">
	<div class = "row">
		<div class = "col-lg-offset-2 col-lg-3 col-md-offset-2 col-md-3 col-sm-offset-2 col-sm-3 col-xs-offset-2 col-xs-3 event-box">
			<img src = "images/sponsors/Logo_0000_Layer-33.png" class="sponsor-logo">
		</div>
		<div class = "col-lg-2 col-md-2 col-sm-2 col-xs-2 event-box">
			<img src = "images/sponsors/Logo_0001_Layer-32.png" class="sponsor-logo img-responsive">
		</div>
		<div class = "col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-3 col-xs-offset-1 col-xs-3 event-box">
			<img src = "images/sponsors/Logo_0002_Layer-31.png" class="sponsor-logo">
		</div>
	</div>

	<div class = "row">
		<div class = "col-lg-offset-2 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0003_Layer-30.png" class="sponsor-logo">
		</div>
		<div class = "col-lg-offset-1 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0004_Layer-29.png" class="sponsor-logo">
		</div>
		<div class = "col-lg-offset-1 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0005_Layer-28.png" class="sponsor-logo">
		</div>
	</div>

	<div class = "row">
		<div class = "col-lg-offset-2 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0006_Layer-40.png" class="sponsor-logo">
		</div>
		<div class = "col-lg-offset-1 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0007_Layer-27.png" class="sponsor-logo">
		</div>
		<div class = "col-lg-offset-1 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0008_Layer-26.png" class="sponsor-logo">
		</div>
	</div>

	<div class = "row">
		<div class = "col-lg-offset-2 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0009_Layer-25.png" class="sponsor-logo">
		</div>
		<div class = "col-lg-offset-1 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0010_Layer-24.png" class="sponsor-logo">
		</div>
		<div class = "col-lg-offset-1 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0011_Layer-23.png" class="sponsor-logo">
		</div>
	</div>

	<div class = "row">
		<div class = "col-lg-offset-2 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0013_Layer-20.png" class="sponsor-logo">
		</div>
		<div class = "col-lg-offset-1 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0014_Layer-22.png" class="sponsor-logo">
		</div>
		<div class = "col-lg-offset-1 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0015_Layer-21.png" class="sponsor-logo">
		</div>
	</div>

	<div class = "row">
		<div class = "col-lg-offset-2 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0016_Layer-12.png" class="sponsor-logo">
		</div>
		<div class = "col-lg-offset-1 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0017_Layer-11.png" class="sponsor-logo">
		</div>
		<div class = "col-lg-offset-1 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0018_Layer-10.png" class="sponsor-logo">
		</div>
	</div>

	<div class = "row">
		<div class = "col-lg-offset-2 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0019_Layer-9.png" class="sponsor-logo">
		</div>
		<div class = "col-lg-offset-1 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0020_Layer-19.png" class="sponsor-logo">
		</div>
		<div class = "col-lg-offset-1 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0021_Layer-17.png" class="sponsor-logo">
		</div>
	</div>

	<div class = "row">
		<div class = "col-lg-offset-2 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0022_Layer-16.png" class="sponsor-logo">
		</div>
		<div class = "col-lg-offset-1 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0023_Layer-15.png" class="sponsor-logo">
		</div>
		<div class = "col-lg-offset-1 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0024_Layer-14.png" class="sponsor-logo">
		</div>
	</div>

	<div class = "row">
		<div class = "col-lg-offset-2 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0028_Layer-36.png" class="sponsor-logo">
		</div>
		<div class = "col-lg-offset-1 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0030_Layer-35.png" class="sponsor-logo">
		</div>
		<div class = "col-lg-offset-1 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0031_Layer-34.png" class="sponsor-logo">
		</div>
	</div>

	<div class = "row">
		<div class = "col-lg-offset-2 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0025_Layer-13.png" class="sponsor-logo">
		</div>
		<div class = "col-lg-offset-1 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0026_Layer-8.png" class="sponsor-logo">
		</div>
		<div class = "col-lg-offset-1 col-lg-2 event-box">
			<img src = "images/sponsors/Logo_0027_Layer-37.png" class="sponsor-logo">
		</div>
	</div>
</div>
