<center><h1>Our past sponsors</h1></center>

<div class = "row">
	<div class = "col-lg-offset-2 col-lg-3 event-box">
		<img src = "images/sponsors/Logo_0000_Layer-33.png" class="sponsor-logo">
	</div>
	<div class = "col-lg-2 event-box">
		<img src = "images/sponsors/Logo_0001_Layer-32.png" class="sponsor-logo">
	</div>
	<div class = "col-lg-offset-1 col-lg-2 event-box">
		<img src = "images/sponsors/Logo_0002_Layer-31.png" class="sponsor-logo">
	</div>
</div>

<div class = "row">
	<div class = "col-lg-offset-2 col-lg-2 event-box">
		<img src = "images/sponsors/Logo_0003_Layer-30.png" class="sponsor-logo">
	</div>
	<div class = "col-lg-offset-1 col-lg-2 event-box">
		<img src = "images/sponsors/Logo_0004_Layer-29.png" class="sponsor-logo">
	</div>
	<div class = "col-lg-offset-1 col-lg-2 event-box">
		<img src = "images/sponsors/Logo_0005_Layer-28.png" class="sponsor-logo">
	</div>
</div>

<div class = "row">
	<div class = "col-lg-offset-2 col-lg-2 event-box">
		<img src = "images/sponsors/Logo_0006_Layer-40.png" class="sponsor-logo">
	</div>
	<div class = "col-lg-offset-1 col-lg-2 event-box">
		<img src = "images/sponsors/Logo_0007_Layer-27.png" class="sponsor-logo">
	</div>
	<div class = "col-lg-offset-1 col-lg-2 event-box">
		<img src = "images/sponsors/Logo_0008_Layer-26.png" class="sponsor-logo">
	</div>
</div>

<div class = "row">
	<div class = "col-lg-offset-2 col-lg-2 event-box">
		<img src = "images/sponsors/Logo_0009_Layer-25.png" class="sponsor-logo">
	</div>
	<div class = "col-lg-offset-1 col-lg-2 event-box">
		<img src = "images/sponsors/Logo_0010_Layer-24.png" class="sponsor-logo">
	</div>
	<div class = "col-lg-offset-1 col-lg-2 event-box">
		<img src = "images/sponsors/Logo_0011_Layer-23.png" class="sponsor-logo">
	</div>
</div>
